<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href='/index.css'>
</head>
<body>
    <div class = "main">
        <div class ="box">
            <form method = "POST">
                <p class = "header">Sign In</p>
                <p class = "label">Account Number</p><input type="number" pattern="[0-9]*" name="accountNumber" id="accountNumber" required>
                <p class = "label">4 DIGIT PIN</p><input type="password" name="pin" id="pin" required>
                <button id = "signup">Sign In</button>
            </form>
        </div>
        <div class = "footer">
            <p class = "label">© Bank of IIT Jamdoli</p>
        </div>
    </div>
</body>
</html>

<!-- 

 -->