<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>SignUp</title>
</head>
<body>
    <div class = "main">
        <p class = "header">Sign Up</p>
        <div class = "box">
            <form method = "POST">
                <input type="text" name="name" id="name" placeholder = "Name" required>
                <input type="date" name="dob" id="dob" placeholder = "Date of Birth" required>
                <input type="number" name="pincode" id="pincode" placeholder="Pincode"required>
                <input type="number" name="phone" id="phone" placeholder="Phone" required>
                <button id = "signup">SignUp</button>
            </form>
        </div>
        <div class = "footer">
            <p class = "label">© Bank of IIT Jamdoli</p>
        </div>
    </div>
</body>
</html>